@{
    ViewData["Title"] = "Firma Yönetim Sistemi";
}

<div class="text-center">
    <h1 class="display-4">Firma Yönetim Sistemine Hoşgeldiniz!</h1>
    <p>Üst Menüleri Kullanarak Sayfalara Erişebilirsiniz</p>
</div>
